body {
    padding-bottom: 70px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: none;;
    
  }

  .carousel-inner img {
    width: 100%;
    height: 650px;
  }
  h2 {
    background-color: #24476d; /* Change this to your desired background color */
    color: #fff; /* Set a contrasting text color for better readability */
    padding: 10px 15px; /* Add some padding for spacing */
    border-radius: 5px; /* Add rounded corners to the background */

  }


  .container {
    max-width: 600px;
  }

  .form-control {
    margin-bottom: 10px;
  }

  .about-section {
    margin-top: 30px;
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 10px;
    text-align: justify;

  }
  
  .about-section img {
    margin-bottom: 20px;
  }
  
  .about-section p {
    text-align: justify;
    line-height: 1.6;
  }
  
  /* Additional style to justify the last line */
  .about-section::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
  }

  /* Photo Gallery Styles */
.row .col-md-4 img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.row .col-md-4 img:hover {
  transform: scale(1.1);
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  margin-bottom: -200px;

}

body > .footer {
  margin-top: auto;
}

.img-fluid {
  border-radius: 10px;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.text-justify-left {
  text-align: justify;
}

.text-justify-right {
  text-align: justify;
  text-align-last: right;
}

#major p {
  margin-bottom: 15px;
}